Body{
  margin:0px;
  padding:0px;
  background-color: #143018;
}

#input-area{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
}
#editor-header{
  height: 30px;
  width: 55%;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-bottom: 0px;
  background-color: #277c21;
  font-size: 16px;
  padding-left: 30px;
 
 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
 
}
#editor-header p,
#previewer-header p{
  padding: 0px;
  margin: 0px;
  font-weight: 900;
  color:white;
}

#editor-header p i,
#previewer-header p i{
  padding-right: 10px;
  cursor: pointer; 
}

#editor-header p i:hover,
#previewer-header p i:hover{
  color:black; 
}




#editor{
  min-height: 200px;
  width: 55%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  background-color: #faf8f5;
  font-size: 16px;
  outline:none;
  resize: vertical;
  overflow-y: scroll;  
  scrollbar-width: thin;
}


#previewer-header{
  width: 70%;
  height:30px;
  margin-top: 30px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-bottom: 0px;
  background-color: #277c21;
  font-size: 16px;
  padding-left: 30px;
   
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
}
#preview{  
  height:auto;
  min-height: 200px;
  width: 70%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  background-color: #faf8f5;
  outline:none;
  
  
}
img {
  display: block;
  max-width: 60%;
  margin: 2rem auto;
}

code{
  background: rgb(212, 205, 205);
  font-size: 0.875rem;
  font-weight: bold;
  color: #336d3c;
  width:auto;
  
}
blockquote {
  border-left: 3px solid #224b4b;
  color: #09d3d3;
  padding-left: 5px;
  margin-left: 25px;
}
a{
  color:khaki;
}

@media only screen and (max-width: 600px) {
  #preview,
  #previewer-header{
    width:90%;
  }
  #editor,
  #editor-header{
    width:80%;
  }
  #editor{
    font-size: 14px;
  }
  code{
    font-size: 9px;
    overflow-y: scroll;
  }
  #previewer-header{
    margin-top: 17px;
  }
  
}