body{
    color: #fff;
    margin-top:0;
    width:100vw;
    background:url("./images/img.jpg") no-repeat;
    background-attachment: fixed;
    height: auto;
    background-size: cover;
    background-position: center center;
   
}

ul{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-end;
    align-items: center;    
}
li{
    list-style: none;
    font-size: 20px;
    padding-right:20px;
}

#ticket-sec{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}
#information-box p{
    padding:20px;
    font-size: 19px;
    color: whitesmoke;
    background-color: black;
    background: transparent;    
}

button{
        background-color: rgb(19, 10, 10);
        border-radius: 10px;
        border: 4px black;
        color:#fff;        
        font-size: 20px;
        font-weight: 700;
        height: 50px;
        padding: 0 25px;
        transition: all 200ms;
        opacity: 0.7;
}
#information-box{
     height: auto;
     min-width: 50vw;
     max-width: 90vw;
}