body{
    color: #fff;
    margin-top:0;
    width:100vw;
    background:url("./images/img.jpg") no-repeat;
    background-attachment: fixed;
    height: auto;
    background-size: cover;
    background-position: center center;
   
}

ul{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-end;
    align-items: center;    
}
li{
    list-style: none;
    font-size: 20px;
    padding-right:20px;
}

#ticket-sec{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
button{
        background-color: rgb(182, 179, 179);
        border-radius: 50px;
        border-width: 0;
        box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
        color:#000;        
        font-size: 20px;
        font-weight: 700;
        height: 50px;
        padding: 0 25px;
        transition: all 200ms;
}
#information-box{
    width: 400px;
    height: auto;
}